.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100vh - 180px);
  height: 600px;
  margin-bottom: 24px;
  border-radius: 6px;

  .ps__rail-y {
    background-color: transparent !important;
  }

  &__item {
    background-color: rgba($clr-grey, 0.1);
    margin: 4px 0;
    padding: 8px;
    border-radius: 6px;
  }

  &__image {
    margin: 8px 0 -4px 0;
    border-radius: 6px;
  }

  &__client {
    font-size: 12px;
  }

  &__text {
    color: $clr-text;
    word-break: break-word;
  }
}

