@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$font: 'Nunito', sans-serif;

$clr-text: #dffbfd;
$clr-bg: #0E1621;
$clr-grey: #878e8a;
$clr-blue: #215b84;
$clr-pink: #A86050;